*{
margin: 0;
padding: 0;
padding: 0;
outline: 0;
}

/* <!-- header area here --> */

.header{
background-color: darkslategray;
display: flex;
align-items: center;
justify-content: space-between;
/* padding: 0px 80px; */
color: white;
}

.image{
width: 40px;


}

.ali{
display: flex;
align-items: center;
gap: 5px;

}

.text{
    display: flex;
text-decoration: none;
list-style: none;
gap: 10px;
/* padding: 0px 100px; */
font-size: 14px;
}

.text > li:hover{
cursor: pointer;
background-color: orange;
padding: 0px 10px;


}

.text > li{
/* background-color: orange; */
border-radius: 4px;

}

.header1{
padding: 0px 100px;


}

.cyber{
color: orange;


}

/* <!-- banner area here --> */

.banner{
height: 80vh;
/* background-color: #000000b8; */
background-image: linear-gradient(rgba(0, 0, 0, 0.775),rgba(0, 0, 0, 0.611)), url(./image/Bannar-2_kqy9ou.jpg);
background-size: cover;
display: flex;
align-items: center;
color: white;
padding: 30px 100px;
}

.banner h1, h3, p,button{
margin-top: 10px;


}
.banner h3{
color: orange;


}

.banner h1{
font-size: 30px;


}


.btn{
padding: 6px 11px;
color: white;
border: 1px solid orange;

border-radius: 4px;
background: transparent;

}

.btn:hover{
cursor: pointer;
background-color: orange;
}

/* text area here */
.people{
text-align: center;
margin-top: 30px;
}
.people h1{

color: orange;

}

/* tutor area here */

.tutor1{
display: flex;
border: 1px solid lightgrey;
border-radius: 4px;
/* padding: 5px; */
margin-top: 30px;
box-shadow: 0px 0px 0px 10px white;
gap: 20px;
}

.tutorimage{
    width: 100px;
border-radius: 200px;



}


.tutor{
display: grid;
grid-template-columns: auto auto auto;
gap: 15px;
padding: 0px 30px;

}

.tutor1:hover{
box-shadow: 0px 0px 0px 5px lightgray;
cursor: pointer;



}

.tutor1 p{
font-size: 12px;



}
.tutor1 h3{
font-size: 15px;


}
.tutor1 h5{
font-size: 11px;
margin-top: 3px;
color: orange;
}

/* student area */

.student{
display: flex;
align-items: center;
gap: 8px;

}

.student1{
border: 1px solid lightgray;
border-radius: 10px;
padding: 0px 10px;

}

.photo{
border-radius: 200px;
margin-top: 10px;

}

.student h5{
color: orange;
margin-top: 3px;

}

.studenthere{

display: flex;
gap: 10px;
margin-top: 30px;

}

/* <!-- word area --> */

.abouttext{
text-align: center;
color: orange;


}
.abouttext1{
display: flex;
align-items: center;
justify-content: space-between;


}
.abouttext1 img{
width: 300px;
padding: 20px 30px;

}

.texth{
padding: 0px 80px;


}

.texth p{
font-size: 13px;

}

.abouttexthead{
margin-top: 50px;
background-color: white;
/* border: 1px solid lightgray; */
}

.abouttext2 img{

    width: 300px;
    padding: 20px 30px;
    
}

.texth1{
    /* padding: 0px 80px; */


}

.abouttext2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    



}

.texth1 p{

    font-size: 13px;

}











